.features {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featuresItem {
    flex: 1;
    margin: 0 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 1);

}

.featuresTitle {
    font-size: 20px;
}

.featuresContainer {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.featureMoney {
    font-size: 30px;
    font-weight: bold;

}

.featureRate {
    display: flex;
    align-items: center;
    margin-left: 20px;

}

.featueIcon {
    font-size: 25px;
    margin-left: 5px;
    color: green;
}

.negetive {
    color: red;
}

.featureSub {
    font-size: 15px;

}